<template>
  <div class="hanged">
    <svg
      width="290px"
      height="500px"
      viewBox="0 0 290 500"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="hanged-man">
        <g id="Group">
          <circle v-if="attemps > 0" id="head" :stroke="manColor" fill="none" stroke-width="3" cx="222.5" cy="117.5" r="33.5"></circle>
          <rect
            v-if="attemps > 1"
            id="body"
            :fill="manColor"
            transform="translate(222.500000, 226.500000) scale(-1, 1) translate(-222.500000, -226.500000) "
            x="221"
            y="151"
            width="3"
            height="151"
          ></rect>
          <polygon
            v-if="attemps > 2"
            id="right-arm"
            :fill="manColor"
            points="222.549038 151.24241 161.049038 225.057466 158.450962 224.018023 219.950962 150.202967"
          ></polygon>
          <polygon
            v-if="attemps > 3"
            id="left-arm"
            :fill="manColor"
            points="286.799038 223.971604 284.200962 225.011046 222.200962 150.595867 224.799038 149.556425"
          ></polygon>
          <rect
            v-if="attemps > 4"
            id="right-leg"
            :fill="manColor"
            transform="translate(192.500000, 351.500000) scale(-1, 1) rotate(-30.000000) translate(-192.500000, -351.500000) "
            x="191"
            y="292"
            width="3"
            height="119"
          ></rect>
          <rect
            v-if="attemps > 5"
            id="left-leg"
            :fill="manColor"
            transform="translate(252.500000, 351.500000) scale(-1, -1) rotate(-30.000000) translate(-252.500000, -351.500000) "
            x="251"
            y="292"
            width="3"
            height="119"
          ></rect>
          <rect
            id="Rectangle"
            :fill="manColor"
            transform="translate(224.500000, 42.000000) scale(-1, 1) translate(-224.500000, -42.000000) "
            x="223"
            y="0"
            width="3"
            height="84"
          ></rect>
          <rect
            id="Rectangle"
            :fill="manColor"
            transform="translate(113.500000, 1.500000) scale(-1, 1) rotate(-270.000000) translate(-113.500000, -1.500000) "
            x="112"
            y="-111"
            width="3"
            height="225"
          ></rect>
          <rect
            id="Rectangle"
            :fill="manColor"
            transform="translate(1.500000, 250.000000) scale(-1, 1) translate(-1.500000, -250.000000) "
            x="0"
            y="0"
            width="3"
            height="500"
          ></rect>
        </g>
        <g v-if="gameover" id="espression" transform="translate(204.000000, 100.000000)" stroke="#D0021B" stroke-width="3">
          <ellipse
            id="Oval"
            fill="none"
            transform="translate(19.141420, 31.547000) rotate(-10.000000) translate(-19.141420, -31.547000) "
            cx="19.1414198"
            cy="31.5469996"
            rx="4.63253882"
            ry="5.29433008"
          ></ellipse>
          <path d="M0.5,2.5 L9.5,11.5" id="Line" stroke-linecap="square"></path>
          <path d="M1.5,11.5 L8.5,3.5" id="Line-2" stroke-linecap="square"></path>
          <path d="M25.5,0.5 L34.5,9.5" id="Line" stroke-linecap="square"></path>
          <path d="M26.5,9.5 L33.5,1.5" id="Line-2" stroke-linecap="square"></path>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    manColor: {
      type: String,
      default: '#151515'
    },
    faceColor: {
      type: String,
      default: '#D0021B'
    },
    attemps: {
      type: Number,
      default: 0
    }
    // totalAttemps: {
    //   type: Number,
    //   default: 6
    // }
  }
  // data: () => ({
  //   gameover: false
  // }),
  // watch: {
  //   attemps(val) {
  //     if (val >= this.totalAttemps) {
  //       this.gameover = true
  //     }
  //   }
  // },
  // mounted() {
  //   this.gameover = this.attemps > this.totalAttemps
  // }
}
</script>

<style></style>
