<template>
  <div class="modal">
    <div class="modal__inner">
      <button @click="$emit('close')" class="modal__close">X</button>
      <slot />
    </div>
  </div> 
</template>

<script>
export default {

}
</script>

<style lang="scss">
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  &__close {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #75befe;
    color: white;
    border: 0;
    cursor: pointer;
  }
  &__inner {
    position: relative;
    align-self: center;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 400px;
    box-shadow: 0 0 13px 2px rgba(0,0,0,0.2);
    padding: 3rem;
  }
}
</style>