<template>
  <div class="word2discover" v-if="word.length > 0">
    <span v-for="(letter, i) in word" :key="i" class="letter">
      <span>{{ goodLetters.includes(letter) || showSolution ? letter : '' }}</span>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    word: {
      type: String,
      default: ''
    },
    goodLetters: {
      type: Array,
      default: () => []
    },
    showSolution: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style></style>
