<template>
  <div class="game">
    <div class="game__left">
      <HangedMan :attemps="badLetters.length" />
      <button class="button button__start" @click="restart">Ricomincia</button>
    </div>
    <div class="game__right">
      <div class="settings">
        <button class="action action__settings" @click="settingsOpen = true" title="Configura il gioco">Settings</button>
        <div>
          Hai accumulato <img src="./assets/money.png" width="16" class="coin" /> <strong>{{ coinsEarnedText }}</strong>
        </div>
      </div>
      <div class="words">
        <p>La parola da indovinare è:</p>
        <Word :word="word2discover" :good-letters="goodLetters" :show-solution="wordFound" />
        <form v-if="!gameover" @submit.prevent="guessWord">
          <input v-if="showSolutionInput" v-model.trim="solution" placeholder="inserisci la soluzione" class="input input__word" />
          <button class="button button__end">{{ showSolutionInput ? 'Conferma' : 'Do la soluzione' }}</button>
          <p class="tip">Sblocca i campi sopra e dai la soluzione adesso! Se sbagli, il gioco finisce.</p>
        </form>
        <div v-else>
          <template v-if="word2discover === solution.toLowerCase()">
            <p><strong>HAI VINTO!</strong></p>
          </template>
          <template v-else>
            <p><strong>Oh no! HAI PERSO!</strong></p>
            <p>
              La parola era <strong>{{ word2discover }}</strong>
            </p>
          </template>
        </div>
      </div>
      <div class="dashboard">
        <div class="consonants">
          <p>Prova con una consonante:</p>
          <form @submit.prevent="confirm()">
            <input
              type="text"
              v-model="letter2check"
              maxlength="1"
              placeholder="inserisci una consonante"
              class="input input__letter"
              :disabled="totalAttemps === usedAttemps || gameover"
              @keyup="forbitVocals"
              pattern="[^aeiou]"
              required
            />
            <button :disabled="totalAttemps === usedAttemps || gameover" class="action action__confirm">Controlla</button>
          </form>
          <div class="tip tip__attemps" v-if="!gameover">
            <p v-if="usedAttemps === 0">
              Indovina la parola entro <strong>{{ totalAttemps }} tentativi</strong>
            </p>
            <p v-else-if="usedAttemps > 0 && usedAttemps < totalAttemps">
              Hai ancora <strong>{{ totalAttemps - usedAttemps }} tentativi</strong>
            </p>
            <p v-else-if="totalAttemps === usedAttemps">Hai esaurito il numero massimo di tentativi in cui indovinare :(</p>
          </div>
        </div>
        <div class="vocals" :class="{ 'vocals--allowed': canBuyVocals }">
          <p>oppure compra una vocale:</p>
          <ul>
            <li class="vocal" v-for="vocal in specialLetters" :key="vocal" @click="buyVocal(vocal)">
              {{ vocal }}
            </li>
          </ul>
          <p class="tip">Compra una vocale con le monete accumulate! Ogni {{ consToGuess }} consonanti indovinate, guadagni una lettera!</p>
        </div>
      </div>
    </div>
    <Modal v-if="settingsOpen" @close="settingsOpen = false">
      <form @submit.prevent="getWords" class="sentence">
        <label for="sentence">Configura il gioco</label>
        <textarea v-model="customText" id="sentence" placeholder="Copia qui testo da cui estrarre parole"></textarea>
        <button class="button button__start">Estrapola parole</button>
      </form>
    </Modal>
  </div>
</template>

<script>
import HangedMan from './components/HangedMan.vue'
import Word from './components/Word.vue'
import Modal from './components/Modal.vue'

export default {
  name: 'App',
  components: {
    HangedMan,
    Word,
    Modal
  },
  data: () => ({
    word2discover: '',
    words: ['composizione', 'ereditarieta', 'polimorfico'],
    letter2check: '',
    specialLetters: ['a', 'e', 'i', 'o', 'u'],
    goodLetters: [],
    badLetters: [],
    gameover: false,
    totalAttemps: 10,
    usedAttemps: 0,
    coinsEarned: 0,
    coinsUsed: 0,
    consToGuess: 3,
    diceSound: new Audio(require('@/assets/sounds/dices.mp3')),
    settingsOpen: false,
    customText: '',
    solution: '',
    showSolutionInput: false,
    wordFound: false
  }),
  computed: {
    coins() {
      return this.coinsEarned - this.coinsUsed
    },
    coinsEarnedText() {
      const str = this.coinsEarned === 1 ? 'moneta' : 'monete'
      return `${this.coins} ${str}`
    },
    canBuyVocals() {
      return !this.gameover && this.coins > 0
    }
  },
  watch: {
    goodLetters(val) {
      this.coinsEarned = parseInt(val.filter(l => !this.specialLetters.includes(l)).length / this.consToGuess, 0)
    }
  },
  created() {
    this.start()
  },
  methods: {
    reset() {
      this.badLetters = []
      this.goodLetters = []
      this.usedAttemps = 0
      this.coinsUsed = 0
      this.gameover = false
      this.showSolutionInput = false
      this.solution = ''
      this.wordFound = false
    },
    start() {
      // reset previous game
      this.reset()
      // choose another word
      const randNum = parseInt(Math.random() * (this.words.length - 0) + 0, 0)
      this.word2discover = this.words[randNum]
    },
    restart() {
      this.$nextTick()
      this.diceSound.play()
      this.start()
    },
    forbitVocals() {
      if (this.specialLetters.includes(this.letter2check.toLowerCase())) this.letter2check = ''
    },
    buyVocal(vocal) {
      if (this.canBuyVocals) this.confirm(vocal)
      this.coinsUsed++
    },
    confirm(l = this.letter2check) {
      const letter = l.toLowerCase()
      this.usedAttemps++
      if (this.word2discover.includes(letter)) {
        if (!this.goodLetters.includes(letter)) this.goodLetters.push(letter)
      } else {
        this.badLetters.push(letter)
      }
      if (this.badLetters.length === 6) this.gameover = true
      this.letter2check = ''
    },
    getWords() {
      this.words = this.customText
        .toLowerCase()
        .replace(/[:.",;?!()[\]]/g, '')
        .replace(/['’]/g, ' ')
        .split(' ')
        .filter(word => word.length > 7)
      this.settingsOpen = false
      this.start()
    },
    guessWord() {
      if (!this.showSolutionInput) {
        this.showSolutionInput = true
      } else {
        if (this.solution && this.solution.toLowerCase() === this.word2discover) {
          this.wordFound = true
        }
        this.gameover = true
      }
    }
  }
}
</script>

<style lang="scss">
.game {
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  .game {
    display: flex;
    max-width: 1024px;
    margin: 60px auto;
    &__left {
      display: flex;
      flex-direction: column;
    }
    &__right {
      margin-left: 2em;
      flex: 1 0 auto;
      flex-direction: column;
    }
  }
}
.button {
  border: none;
  background: none;
  height: 4rem;
  padding: 0;
  min-width: 230px;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 1rem auto;
  cursor: pointer;
  &__start {
    width: 100%;
    background: #f4c34b url('assets/dices.png') no-repeat center right 10px;
  }
  &__end {
    background-color: #b8e986;
  }
}
.action {
  border: none;
  background: none;
  padding: 0;
  height: 22px;
  width: 22px;
  cursor: pointer;
  font-size: 0;
  &__settings {
    background: url('assets/settings.png') no-repeat center;
    background-size: cover;
  }
  &__confirm {
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    margin-left: -2rem;
    background: #75befe url('assets/chevron.png') no-repeat center;
    &:disabled {
      background-color: #d6d6d6;
      cursor: default;
    }
  }
}
.settings {
  display: flex;
  justify-content: space-between;
}

.words {
  text-align: center;
  margin-top: 3em;
}

.dashboard {
  border-radius: 8px;
  background-color: #f6f6f6;
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
}

.tip {
  font-size: 1.2rem;
  text-align: center;
  color: #5a5a5a;
  &__attemps {
    margin-top: 0.5em;
  }
}

.consonants {
  p {
    margin-bottom: 1.5rem;
  }
}

.vocals {
  margin: 3rem 0 0;
  ul {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
  }
  &--allowed {
    .vocal {
      cursor: pointer;
      background-color: #d0e9ff;
      color: #292828;
      &:hover {
        background-color: #75befe;
      }
    }
  }
}
.vocal {
  background-color: #d6d6d6;
  color: #a7a7a7;
  cursor: default;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  + .vocal {
    margin-left: 1.5rem;
  }
}

.letter,
.input {
  border: none;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background-color: white;
  text-transform: uppercase;
}
.input {
  &__letter {
    vertical-align: middle;
    border: dashed 1px #979797;
    background-color: #ffffff;
    padding: 0 2.5rem 0 2rem;
    width: 250px;
    text-align: center;
    &::placeholder {
      color: #b4b3b3;
      text-transform: none;
    }
    &:focus {
      border: solid 2px #75befe;
      border-radius: 4px;
      outline: none;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &__word {
    border: dashed 1px #979797;
    background-color: #ffffff;
    padding: 0 2.5rem 0 2rem;
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    &::placeholder {
      color: #b4b3b3;
      text-transform: none;
    }
    &:focus {
      border: solid 2px #b8e986;
      border-radius: 4px;
      outline: none;
    }
  }
}

.letter::placeholder {
  text-transform: none;
}

.word2discover {
  margin: 10px auto;
  display: table;
  height: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.word2discover .letter {
  border-bottom: solid 3px #979797;
  display: flex;
  justify-content: center;
}

.word2discover .letter span {
  align-self: center;
}
.word2discover .letter + .letter {
  margin-left: 7px;
}

.sentence {
  label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  textarea {
    width: 100%;
    height: 200px;
    border: dashed 1px #979797;
    background-color: #ffffff;
    padding: 1rem;
  }
}

@media screen and (max-width: 799px) {
  .hanged {
    margin: 0 auto;
    background-color: #f6f6f6;
    border-radius: 50%;
    display: block;
    width: 120px;
    height: 120px;
    padding: 1rem;
  }
  svg {
    width: 100px;
    height: 100px;
  }
}

// generic

* {
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1.4em;
  color: #292828;
}
p {
  margin: 0;
}
strong {
  font-weight: bold;
}
img {
  vertical-align: bottom;
  &.coin {
    display: inline-block;
    margin-right: 0.3rem;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
